:root {
  --btn-color-hover: #fbc990;
  --main-color: #f3b876;
  --main-color-dark: #c89355;
  --color-white: ivory;
  --btn-text-light: white;
  --card-text-light: white;
  --card-text-alpha80: white;
  --card-box-shadow: rgb(37, 37, 37) 0 .25rem .5rem 0;
  --input-box-shadow: rgba(224, 224, 224, 0.589) 0 1px 4px 0;
  --color-black: #1f1f1f;
  --bg-gradient-shadow: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
  --bg-text-shadow: #1b1b1b6e 0 0 .75rem, #000 0 0 .1rem;
  --color-lighter-text: #4b4b4b;
  --main-border-radius: .5rem;
  --sub-border-radius: .5rem;
  --pagination-btn-border-radius: 2px;
}

.ieat {
  font-family: 'MuseoModerno', cursive;
  color: rgb(250, 231, 173);
  font-size: 3rem;
  margin: 2rem 0 0;
  line-height: 1;
}
.searching_text {
  margin-top: 0;
}

.searching_text > p {
  font-size: 2rem;
  display: inline;
}

.searching_city {
  font-size: 3rem;
  color: var(--main-color);
}

.search_fields {
  width: 15rem;
  display: flex;
  flex-flow: column nowrap;
  margin: .25rem;
}

.city_label, .filter_label {
  text-align: left;
  margin-left: .25rem;
  color: var(--color-lighter-text)
}

.city_input, .filter_input, .search_btn {
  max-width: 100%;
  height: 1.25rem;
  font-size: 1.1rem;
  margin: .25rem;
  border-radius: var(--sub-border-radius);
  padding: .5rem;
  border: lightgray 1px solid;
  box-shadow: var(--input-box-shadow);
}

.search_btn {
  height: 2.5rem;
  margin-top: 1rem;
  background: var(--main-color);
  border: none;
  border-bottom: 3px solid var(--main-color-dark);
  color: var(--btn-text-light)
}

.search_btn:hover {
  background: var(--btn-color-hover);
}
.search_btn:active {
  background: var(--main-color);
  border: none;
}

.search_btn:disabled {
  background: rgb(231, 231, 231);
  border-bottom: none;
  color: rgb(207, 207, 207);
}

.showing_entries {
  font-size: .8rem;
  color: var(--color-lighter-text);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pages_list {
  padding: 0;
  margin: 2rem 0;
}

.page_btn, .current_page_btn {
  margin: .1rem;
  padding: 0;
  text-align: center;
  width: 3rem;
  box-sizing: border-box;
}

.page_btn {
  background: none;
  color: var(--color-black);
  border: none;
}

.current_page_btn {
  border-radius: var(--pagination-btn-border-radius);
  color: var(--btn-text-light);
  border: 1px solid var(--main-color);
  background: var(--main-color);
}
.current_page_btn:hover {
  pointer-events: none;
  cursor: pointer;
  background: var(--btn-color-hover);
  border: 1px solid var(--btn-color-hover);
}

.page_btn:hover {
  cursor: pointer;
  border-radius: var(--pagination-btn-border-radius);
  background: none;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.restaurant_list {
  list-style-type: none;
  padding: 0;
  margin: 0 2rem 0;
}


.anchor {
  z-index: 99999;
}
.anchor:hover .item_card {
  backdrop-filter: blur(0.8);
}

.item_card {
  list-style-type: none;
  position: relative;
  margin-bottom: 2rem;
  border-radius: var(--main-border-radius);
  box-shadow: var(--card-box-shadow);
  height: 17rem;
  max-width: 45rem;
  width: 60vw;
  min-width: 17rem;
}

.image_bg {
  height: 100%;
  width: 100%;
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--main-border-radius);
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.text_bg {
  padding: .5rem;
  background: var(--bg-gradient-shadow);
  height: auto;
  position: absolute;
  bottom: 0;
  flex-flow: column nowrap;
  justify-content: flex-start;
  text-align: left;
  width: calc(100% - 1rem);
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.text_bg .address p {
  margin: 0;
}

.name_bg {
  text-shadow: var(--bg-text-shadow);
  display: inline-block;
  position: absolute;
  text-align: right;
  margin: .3rem;
  top: 0;
  right: 0;
}

.name {
  margin: .25rem 0;
}

.name span {
  padding: .25rem;
  line-height: 2.55rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: var(--sub-border-radius);
  filter: blur(0.8);
  color: var(--btn-text-light);
  text-decoration: none;
  font-size: calc(14px + 2vmin);
}

.price_list {
  border-radius: var(--sub-border-radius);
  filter: blur(0.8);
  padding: .25rem;
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.price_list .price_symbol {
  display: inline;
  color: var(--btn-text-light);
}

.address {
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: var(--color-black) 0 0 .1rem;
  font-size: calc(12px + 1vmin);
  max-width: 50%;
  margin-bottom: 2rem;
}

.area {
  display: inline;
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  border-radius: var(--sub-border-radius);
  padding: .25rem;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--card-text-light);
  font-size: calc(8px + 1vmin);
  z-index: 200;
}

.reserve_btn {
  color: var(--btn-text-light);
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  text-decoration: none;
  padding: .5rem;
  font-size: 1rem;
  border-radius: 5rem;
  background: var(--main-color);
  border-bottom: var(--main-color-dark) 3px solid;
}

.reserve_btn:hover {
  background: var(--btn-color-hover);
}

.reserve_btn:active {
  background: var(--main-color);
  border: none;
}

.return_top, .return_top:active {
  color: var(--color-lighter-text);
}